#encuesta{
    background-color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    padding: 30px;
}
.title_encuesta{
    font-size: 24px;
    color: #001450;
    font-weight: 500;
    margin-bottom: 15px;
}
.name_opcion{
    font-size: 16px;
    font-weight: bold;
}
.checkbox2 {
    display: inline-block;
    margin-right: 15px;   
}
.checkbox2 input[type="radio"]+label:before {
    content: "\f111";
    color: #000000;
}
.checkbox2 input[type="radio"]:checked+label:before {
    content: "\f111";
    color: #0082ff;
}
.checkbox2 input[type="radio"] {
    display: none;
}
.checkbox2 label:before {
    font-family: 'FontAwesome';
    width: 1.3em;
    display: inline-block;
}
.checkbox label, .radio label {
    min-height: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}


.btn_votar {
    background-color: #0082ff;
    color: white;
    margin: 16px 0;
    padding: 8px 15px;
    border-radius: 3px;
    border: #0082ff;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition: all 400ms ease;
}

.msg_alerta{
    background-color: #ff001e;
    color: white;
    padding: 4px 9px;
    font-size: 10px;
    border-radius: 10px;
    position: absolute;
    display: inline-block;
    z-index: 2;
    top: -5px;
}