@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?c6dd1x');
  src:  url('fonts/icomoon.eot?c6dd1x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?c6dd1x') format('truetype'),
    url('fonts/icomoon.woff?c6dd1x') format('woff'),
    url('fonts/icomoon.svg?c6dd1x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circle-up:before {
  content: "\ea41";
}
